ANÁLISE DE DADOS UTILIZANDO PYTHON

1º EATAPA - DADOS
   
Será realizada a análise de dados referente a Educação Superior no Brasil, para isso, foram utilizadas base de dados disponibilizadas pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira Legislação e Documentos - INEP.

Diante da diversidade que há no Brasil e da atual discusão referente a inclusão social e a adoção de politicas públicas em prol das minorias. Esta análise visa identificar o quantitativo de alunos indigenas e com deficiência que concluíram um curso superior entre o período de 2013 a 2017 no Brasil. Bem como a relação desse quantitativo com o quantitativo global da população indigena e da população de pessoas com deficiência.

Foram utilizados os dados diponíveis no link: http://portal.inep.gov.br/microdados, opção Censo da Educação superior, anos de 2013 a 2017.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

#Extraindo as bases ano 2017

#Ano 2017
#data_ies = pd.read_csv("Desktop\Dados\ies.csv", sep="|", encoding="ANSI")
#data_ies
data_curso = pd.read_csv("Desktop\Dados\curso.csv", sep="|", dtype=object, encoding="ANSI")
#data_curso
#data_docente = pd.read_csv("Desktop\Dados\docente.csv", sep="|", encoding="ANSI")
#data_docente
#data_local_oferta = pd.read_csv("Desktop\Dados\local_oferta.csv", sep="|", encoding="ANSI")
#data_local_oferta
Diretorio= r"Desktop\Dados\aluno.csv"
data_aluno = pd.read_csv(Diretorio, sep="|", dtype=object, encoding="ANSI")
#data_aluno

2º ETAPA - TRATAMENTO DOS DADOS

2.1 LIMPEZA E PREPARAÇÃO DOS DADOS

Nesta etapa foram tratados:
- Os dados foram manipulados realizando a junção e combinação entre tabelas.
- Os dados ausentes. 
- Foram identificados os dados ausentes e substituídos por dados.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

#Criando Data Frame com as colunas necessárias e juntatando as colunas que serão utilizadas

aluno = pd.DataFrame(data_aluno, columns=['CO_OCDE','CO_CURSO','CO_ALUNO_CURSO','TP_DEFICIENCIA','IN_DEFICIENCIA_AUDITIVA',
                                          'IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_INTELECTUAL','IN_DEFICIENCIA_MULTIPLA',
                                          'IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO',
                                          'IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_SUPERDOTACAO','IN_TGD_AUTISMO',
                                          'IN_TGD_TRANSTOR_DESINTEGRATIVO','TP_SITUACAO','TP_COR_RACA','CO_UF_NASCIMENTO'])

curso = pd.DataFrame(data_curso, columns=['CO_OCDE','CO_CURSO' ,'NO_CURSO'])

aluno_curso=pd.merge(curso, aluno, left_index=True, right_index=True)

#Renomeando as colunas 
#aluno.columns = ['Código OCDE Aluno', 'Código do curso ', 'Código Aluno por curso', 'Aluno com Deficiência ', 
#'Deficiência auditiva', 'Deficiência física', 'Deficiência intelectual','Deficiência Multipla', 'Deficiência Surdez',
#'Deficiência Surdocegueira', 'Deficiência Baixa Visão', 'Deficiência Cegueira', 'Deficiência Superdotação', 'Autismo',
#'Transtorno desintegrativo', 'Situação Matrícula', 'Raça/Cor', 'UF de Nascimento']
#curso.columns = ['Código OCDE Curso ', 'Código do Curso', 'Nome do curso']

# Identificando dados faltantes

aluno_curso.isnull().sum()

# Substituindo os dados faltantes pela expressão "Não se aplica" e "Não informado"

aluno_curso.update(aluno_curso['IN_DEFICIENCIA_AUDITIVA'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_FISICA'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_INTELECTUAL'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_MULTIPLA'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_SURDEZ'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_SURDOCEGUEIRA'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_BAIXA_VISAO'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_CEGUEIRA'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_DEFICIENCIA_SUPERDOTACAO'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_TGD_AUTISMO'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['IN_TGD_TRANSTOR_DESINTEGRATIVO'].fillna('Não se aplica'))
aluno_curso.update(aluno_curso['CO_UF_NASCIMENTO'].fillna('Não informado'))
aluno_curso.update(aluno_curso['CO_OCDE_x'].fillna('Não localizado'))


# Substituindo valores pela descrição (Alteração realizada com base no dicionário que acompanha a base de dados)

CO_OCDE_x                         0
CO_CURSO_x                        0
NO_CURSO                          0
CO_OCDE_y                         0
CO_CURSO_y                        0
CO_ALUNO_CURSO                    0
TP_DEFICIENCIA                    0
IN_DEFICIENCIA_AUDITIVA           0
IN_DEFICIENCIA_FISICA             0
IN_DEFICIENCIA_INTELECTUAL        0
IN_DEFICIENCIA_MULTIPLA           0
IN_DEFICIENCIA_SURDEZ             0
IN_DEFICIENCIA_SURDOCEGUEIRA      0
IN_DEFICIENCIA_BAIXA_VISAO        0
IN_DEFICIENCIA_CEGUEIRA           0
IN_DEFICIENCIA_SUPERDOTACAO       0
IN_TGD_AUTISMO                    0
IN_TGD_TRANSTOR_DESINTEGRATIVO    0
TP_SITUACAO                       0
TP_COR_RACA                       0
CO_UF_NASCIMENTO                  0
dtype: int64

3º ETAPA - APRESENTAÇÃO DOS RESULTADOS

PROBLEMAS:

1- IDENTIFICAR A QUANTIDADE DE ALUNOS COM DEFICIÊNCIA QUE CONCLUÍRAM O ENSINO SUPERIOR.
    1. a) IDENTIFICAR A MAIOR E A MENOR QUANTIDADE DE ALUNO POR DEFICIÊNCIA
    1. B) QUAIS OS CURSOS QUE MAIS TIVERAM ALUNOS COM DEFICIÊNCIA FORMADOS 
    1. C) QUAIS OS CURSOS QUE MAIS TIVERAM ALUNOS COM DEFICIÊNCIA COM MATRICULA TRANCADA OU TRANSFERIDA

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

#Quantidade de alunos ue participaram do censo 2017

qtd_alunos = pd.DataFrame(aluno_curso, columns=['CO_ALUNO_CURSO'])
len(qtd_alunos)

#Quantidade de alunos que concluiram o Ensino superior

#Quantidade de alunos que declararam deficiência
#qtd_alunos_deficiencia = pd.DataFrame(aluno_curso, columns=['TP_DEFICIENCIA'])
#qtd_alunos_deficiencia

      CO_ALUNO_CURSO
0           48734868
1           48746698
2           48770350
3           48770354
4           48746700
5           48755743
6           48754730
7           48769968
8           48754294
9           48752374
10          48754000
11          48786799
12          48753533
13          48770362
14          48778952
15          48779397
16          48748462
17          48754734
18          48734626
19          48769974
20          48779401
21          48755110
22          48780569
23          48752388
24          48770673
25          48762270
26          48747854
27          48785153
28          48755113
29          48779411
...              ...
35663        9531337
35664        9531362
35665        9531480
35666        8878836
35667        9531483
35668        8879054
35669        9531570
35670        9531578
35671        9531645
35672        9533243
35673        8877582
35674        8877594
35675        8877627
35676        8877632
35677        8877731
35678        8878188
35679        9538039
35680        9531988
35681        9544471
35682        9559383
35683        9553910
35684        9537975
35685        9554313
35686        9535051
35687        9532693
35688        9532681
35689        9532314
35690        9533112
35691        9534232
35692        9534551

[35693 rows x 1 columns]

2 - IDENTIFICAR A QUANTIDADE DE ALUNOS INDIGENAS QUE CONCLUÍRAM O ENSINO SUPERIOR.
    2. a) IDENTIFICAR A MAIOR E A MENOR QUANTIDADE DE ALUNO POR CURSO
    2. B) QUAIS OS CURSOS QUE MAIS TIVERAM ALUNOS INDIGENAS FORMADOS 
    2. C) QUAIS OS CURSOS QUE MAIS TIVERAM ALUNOS INDIGENAS COM MATRICULA TRANCADA OU TRANSFERIDA

In [ ]:



# Plotando gráficos

#data_ies_colunas.plot(kind='bar', figsize=(11,5), rot=0, color='green')
#plt.show()